# Models selction and prediction

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:

path= "C:/Users/dalit/DataScience/project/final_project/final_df_drop.csv"

In [3]:
### user pandas to read the csv (read_csv())
### show the top rows
final_df_drop = pd.read_csv(path)
final_df_drop.head()

,Unnamed: 0,Unnamed: 0.1,chl_pred_y_x,avg_g,std_g,am/pm,Sun_Declin_deg,Sunlight_Duration_minutes,True_Solar_Time _min,chl_change,...,significant_height_y,mean_period_y,T_round1_y,d_stamp1,hour,minute,T_round2,Sunrise_Time_LST,Sunset_Time_LST,T_round2_hour
0,0,0,0.036,24.538571,3.926277,0.0,19.34171,834.248455,733.260372,-0.035,...,0.350,3.569,00:00,26/07/2017,0,0,12:00,04:49:37,18:43:52,12
1,1,1,0.083,24.542857,3.972936,0.0,19.34171,834.248455,733.260372,-0.012,...,0.368,3.535,00:30,26/07/2017,0,30,12:30,04:49:37,18:43:52,12
2,2,2,0.060,24.651429,3.982476,1.0,19.34171,834.248455,733.260372,-0.023,...,0.383,3.632,01:00,26/07/2017,1,0,01:00,04:49:37,18:43:52,1
3,3,3,0.083,24.647143,4.040803,1.0,19.34171,834.248455,733.260372,-0.012,...,0.373,3.516,01:30,26/07/2017,1,30,01:30,04:49:37,18:43:52,1
4,4,4,0.048,24.677143,4.041587,1.0,19.34171,834.248455,733.260372,-0.059,...,0.344,3.570,02:00,26/07/2017,2,0,02:00,04:49:37,18:43:52,2

In [4]:

path= "C:/Users/dalit/DataScience/project/final_project/new_feat.csv"

In [5]:
### user pandas to read the csv (read_csv())
### show the top rows
new_feat= pd.read_csv(path)
new_feat.head()

,Unnamed: 0,am/pm,Sunlight_Duration_minutes,True_Solar_Time _min,chl_change,chl_mov_avg,seasonality2,trend2,seasonality12,trend12,...,trend48,g_77,wind_direction,external_humidity_AvgVal,Temperature_DegC_y,chlorophyll_concentration_y,e_AvgVolt,e_AvgLinearAdjVal,minute,T_round2_hour
0,0,0.0,834.248455,733.260372,-0.035,0.052479,0.000806,0.086261,0.003868,0.066082,...,0.050884,7.0,158.0,2396.0,29.656,0.071,0.851,85.104,0.0,12.0
1,1,0.0,834.248455,733.260372,-0.012,0.051750,-0.000806,0.086275,0.002694,0.066092,...,0.050856,7.0,181.0,2395.4,29.710,0.095,0.849,84.860,30.0,12.0
2,2,1.0,834.248455,733.260372,-0.023,0.051500,0.000806,0.089250,0.007530,0.073976,...,0.049432,6.0,156.0,2395.6,29.775,0.083,0.849,84.860,0.0,1.0
3,3,1.0,834.248455,733.260372,-0.012,0.051021,-0.000806,0.095200,-0.001597,0.073623,...,0.049425,6.0,188.0,2396.8,29.807,0.095,0.851,85.104,30.0,1.0
4,4,1.0,834.248455,733.260372,-0.059,0.050771,0.000806,0.098175,-0.002606,0.075073,...,0.049441,6.0,150.0,2391.4,29.849,0.107,0.839,83.883,0.0,2.0

In [6]:
df=new_feat.copy()

In [7]:
list(new_feat)

['Unnamed: 0',
 'am/pm',
 'Sunlight_Duration_minutes',
 'True_Solar_Time _min',
 'chl_change',
 'chl_mov_avg',
 'seasonality2',
 'trend2',
 'seasonality12',
 'trend12',
 'seasonality24',
 'trend24',
 'seasonality48',
 'trend48',
 'g_77',
 'wind_direction',
 'external_humidity_AvgVal',
 'Temperature_DegC_y',
 'chlorophyll_concentration_y',
 'e_AvgVolt',
 'e_AvgLinearAdjVal',
 'minute',
 'T_round2_hour']

In [8]:
##addtion of the y and another important parameter to the df
df['chl_pred']=final_df_drop['chl_pred_y_x']
# # df['winddirection']=final_df_drop['winddirection']
# df['BAROMETER']=final_df_drop['BAROMETER']
# df['depth_95']=final_df_drop['depth_95']
# df['g_59']=final_df_drop['g_59']
# df['g_86']=final_df_drop['g_86']
# df['std_g']=final_df_drop['std_g']
# # df['dewpoint']=final_df_drop['dewpoint']
# # df['Std_Tilt_Deg']=final_df_drop['Std_Tilt_Deg']
# df['pressure']=final_df_drop['pressure']
df=df.drop(['Unnamed: 0'], axis = 1)
# # df=df.drop(['wind_speed'], axis = 1)
# df

In [9]:
X=df.drop(['chl_pred'], axis = 1)
X

,am/pm,Sunlight_Duration_minutes,True_Solar_Time _min,chl_change,chl_mov_avg,seasonality2,trend2,seasonality12,trend12,seasonality24,...,trend48,g_77,wind_direction,external_humidity_AvgVal,Temperature_DegC_y,chlorophyll_concentration_y,e_AvgVolt,e_AvgLinearAdjVal,minute,T_round2_hour
0,0.0,834.248455,733.260372,-0.035000,0.052479,0.000806,0.086261,0.003868,0.066082,0.006314,...,0.050884,7.0,158.000,2396.0,29.656,0.071,0.851,85.104,0.0,12.0
1,0.0,834.248455,733.260372,-0.012000,0.051750,-0.000806,0.086275,0.002694,0.066092,0.006489,...,0.050856,7.0,181.000,2395.4,29.710,0.095,0.849,84.860,30.0,12.0
2,1.0,834.248455,733.260372,-0.023000,0.051500,0.000806,0.089250,0.007530,0.073976,0.013554,...,0.049432,6.0,156.000,2395.6,29.775,0.083,0.849,84.860,0.0,1.0
3,1.0,834.248455,733.260372,-0.012000,0.051021,-0.000806,0.095200,-0.001597,0.073623,0.001452,...,0.049425,6.0,188.000,2396.8,29.807,0.095,0.851,85.104,30.0,1.0
4,1.0,834.248455,733.260372,-0.059000,0.050771,0.000806,0.098175,-0.002606,0.075073,0.002395,...,0.049441,6.0,150.000,2391.4,29.849,0.107,0.839,83.883,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19284,1.0,611.650718,752.056426,-0.014298,0.263600,0.000806,0.305525,0.003868,0.298971,0.001487,...,0.305147,11.0,172.341,2305.2,23.768,0.266,0.629,62.882,30.0,4.0
19285,1.0,611.650718,752.056426,0.004579,0.263000,-0.000806,0.302500,0.002694,0.299979,-0.001026,...,0.307668,11.0,154.939,2298.6,23.825,0.278,0.612,61.172,0.0,5.0
19286,1.0,611.650718,752.056426,0.004893,0.258000,0.000806,0.302500,0.007530,0.300483,0.001481,...,0.307164,11.0,176.651,2314.4,23.819,0.254,0.651,65.079,30.0,5.0
19287,1.0,611.650718,752.056426,0.004960,0.260000,-0.000806,0.296450,-0.001597,0.300483,-0.004693,...,0.301366,11.0,71.958,2282.2,23.813,0.278,0.573,57.265,0.0,6.0
19288,1.0,611.650718,752.056426,0.004917,0.242000,0.000806,0.287375,-0.002606,0.300988,-0.007649,...,0.301870,11.0,77.493,2302.6,24.004,0.242,0.621,62.149,30.0,6.0

In [10]:
y=pd.DataFrame()
y['chl_pred']=df['chl_pred']
y

       chl_pred
0         0.036
1         0.083
2         0.060
3         0.083
4         0.048
...         ...
19284     0.351
19285     0.315
19286     0.339
19287     0.339
19288     0.315

[19289 rows x 1 columns]

In [11]:
print([X.shape,y.shape])

[(19289, 22), (19289, 1)]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd

In [14]:
X_train_pre, X_test, y_train_pre, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [17]:
X_train.shape

(10801, 22)

In [16]:
X_train, X_dev, y_train, y_dev = train_test_split(
    X_train_pre, y_train_pre, test_size=0.2, random_state=42)

In [24]:
X_train.shape

(10801, 22)

In [18]:
df_model=[]
COLUMN_NAMES=['Model','MAE_train','MAE_test','y_score_tr','y_score_ts','MAE_CV']
df_model=pd.DataFrame(columns=COLUMN_NAMES,index=[0])
                  
df_model

  Model MAE_train MAE_test y_score_tr y_score_ts MAE_CV
0   NaN       NaN      NaN        NaN        NaN    NaN

### xgboost

In [19]:
from xgboost import XGBRegressor
XGBR=XGBRegressor(objective='reg:squarederror')
XGBR.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [20]:

y_pred_tr = XGBR.predict(X_train)
y_pred_dev = XGBR.predict(X_dev)
y_pred_ts = XGBR.predict(X_test)

y_score_tr=XGBR.score(X_train, y_train)
y_score_dev=XGBR.score(X_dev, y_dev)
y_score_ts=XGBR.score(X_test, y_test)

In [21]:
from sklearn.metrics import mean_absolute_error
MAE_train=mean_absolute_error(y_train, y_pred_tr)
MAE_dev=mean_absolute_error(y_dev, y_pred_dev)
MAE_test=mean_absolute_error(y_test, y_pred_ts)
# df_model = pd.DataFrame([['xgboost',MAE_train,MAE_test,y_score_tr,y_score_ts]],columns=COLUMN_NAMES)
# df_model

In [22]:
y_score_tr,y_score_dev,y_score_ts

(0.98088008523969, 0.8663416300942927, 0.8731373465253578)

In [23]:
MAE_train,MAE_dev,MAE_test

(0.00968557932614363, 0.020415521582643276, 0.020232185367674113)

In [24]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection

#seed for random state and splits - number of Kfolds
random_seed = 10
splits = 7

#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,\
                              random_state=random_seed,shuffle=True)

#results set equal to model with kfolds
results = model_selection.cross_val_score(XGBR, X_train,\
                                          y_train.values.ravel(),scoring='neg_mean_absolute_error',cv=kfold)

#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
results
# df_acc_cross = df_acc_cross.append(pd.DataFrame([['reg',(results.mean()*100.0),
#                                                   (results.std()*100.0),mean(absolute(results))]],
#                                                 columns=['Model_CV','Mean_ACU_CV','Std_ACU_CV','MAE_CV']))
# df_acc_cross
df_model =df_model.append(pd.DataFrame([['xgboost',MAE_train,MAE_dev,y_score_tr,y_score_dev,mean(absolute(results))]],columns=COLUMN_NAMES))
df_model

Accuracy: -2.002% (0.049%)

     Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0      NaN        NaN       NaN         NaN         NaN       NaN
0  xgboost   0.009686  0.020416     0.98088    0.866342  0.020023

### svm

In [25]:
from sklearn import svm

In [26]:
svm_reg=svm.SVR(kernel='sigmoid')
svm_reg.fit(X_train,y_train.values.ravel())

SVR(kernel='sigmoid')

In [27]:
y_pred_dev = svm_reg.predict(X_dev)
y_pred_tr = svm_reg.predict(X_train)
y_pred_ts = svm_reg.predict(X_test)
y_score_tr=svm_reg.score(X_train, y_train)
y_score_ts=svm_reg.score(X_test, y_test)
y_score_dev=svm_reg.score(X_dev, y_dev)

In [28]:
from sklearn.metrics import mean_absolute_error
MAE_train=mean_absolute_error(y_train, y_pred_tr)
MAE_dev=mean_absolute_error(y_dev, y_pred_dev)
MAE_test=mean_absolute_error(y_test, y_pred_ts)

In [29]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection

#seed for random state and splits - number of Kfolds
random_seed = 10
splits = 7

#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,\
                              random_state=random_seed,shuffle=True)

#results set equal to model with kfolds
results = model_selection.cross_val_score(svm_reg, X_train,\
                                          y_train.values.ravel(),scoring='neg_mean_absolute_error',cv=kfold)

#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
results
# df_acc_cross = df_acc_cross.append(pd.DataFrame([['reg',(results.mean()*100.0),
#                                                   (results.std()*100.0),mean(absolute(results))]],
#                                                 columns=['Model_CV','Mean_ACU_CV','Std_ACU_CV','MAE_CV']))
# df_acc_cross
df_model =df_model.append(pd.DataFrame([['SVR',MAE_train,MAE_dev,y_score_tr,y_score_dev,mean(absolute(results))]],columns=COLUMN_NAMES))
df_model

Accuracy: -67.840% (0.965%)

     Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0      NaN        NaN       NaN         NaN         NaN       NaN
0  xgboost   0.009686  0.020416    0.980880    0.866342  0.020023
0      SVR   0.788164  0.785959  -68.953819  -67.112909  0.678403

### Gradient Boosting Regressor

In [30]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingRegressor()
gbmod.fit(X_train, y_train.values.ravel())

GradientBoostingRegressor()

In [31]:

y_pred_tr = gbmod.predict(X_train)
y_pred_dev = gbmod.predict(X_dev)
y_pred_ts = gbmod.predict(X_test)

y_score_tr=gbmod.score(X_train, y_train)
y_score_dev=gbmod.score(X_dev, y_dev)
y_score_ts=gbmod.score(X_test, y_test)

In [32]:
from sklearn.metrics import mean_absolute_error
MAE_train=mean_absolute_error(y_train, y_pred_tr)
MAE_dev=mean_absolute_error(y_dev, y_pred_dev)
MAE_test=mean_absolute_error(y_test, y_pred_ts)

In [33]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection


#seed for random state and splits - number of Kfolds
random_seed = 10
splits = 7

#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,\
                              random_state=random_seed,shuffle=True)

#results set equal to model with kfolds
results = model_selection.cross_val_score(gbmod, X_train,\
                                          y_train.values.ravel(),scoring='neg_mean_absolute_error',cv=kfold)

#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
results
# df_acc_cross = df_acc_cross.append(pd.DataFrame([['reg',(results.mean()*100.0),
#                                                   (results.std()*100.0),mean(absolute(results))]],
#                                                 columns=['Model_CV','Mean_ACU_CV','Std_ACU_CV','MAE_CV']))
# df_acc_cross
df_model =df_model.append(pd.DataFrame([['GradientBoosting',MAE_train,MAE_dev,y_score_tr,y_score_dev,mean(absolute(results))]],columns=COLUMN_NAMES))
df_model

Accuracy: -2.274% (0.043%)

              Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0               NaN        NaN       NaN         NaN         NaN       NaN
0           xgboost   0.009686  0.020416    0.980880    0.866342  0.020023
0               SVR   0.788164  0.785959  -68.953819  -67.112909  0.678403
0  GradientBoosting   0.021243  0.022807    0.896041    0.862781  0.022739

### Random Forest

In [35]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
rnd= RandomForestRegressor(n_estimators = 1000, random_state = 4)
rnd.fit(X_train, y_train)

C:\Users\dalit\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(n_estimators=1000, random_state=4)

In [36]:

y_pred_tr = rnd.predict(X_train)
y_pred_dev = rnd.predict(X_dev)
y_pred_ts = rnd.predict(X_test)

y_score_tr=rnd.score(X_train, y_train)
y_score_dev=rnd.score(X_dev, y_dev)
y_score_ts=rnd.score(X_test, y_test)

In [37]:
MAE_train=mean_absolute_error(y_train, y_pred_tr)
MAE_dev=mean_absolute_error(y_dev, y_pred_dev)
MAE_test=mean_absolute_error(y_test, y_pred_ts)

In [38]:
#seed for random state and splits - number of Kfolds
random_seed = 10
splits = 7

#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,\
                              random_state=random_seed,shuffle=True)

#results set equal to model with kfolds
results = model_selection.cross_val_score(rnd, X_train,\
                                          y_train.values.ravel(),scoring='neg_mean_absolute_error',cv=kfold)

#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
results
# df_acc_cross = df_acc_cross.append(pd.DataFrame([['reg',(results.mean()*100.0),
#                                                   (results.std()*100.0),mean(absolute(results))]],
#                                                 columns=['Model_CV','Mean_ACU_CV','Std_ACU_CV','MAE_CV']))
# df_acc_cross
df_model =df_model.append(pd.DataFrame([['RandomForest',MAE_train,MAE_dev,y_score_tr,y_score_dev,mean(absolute(results))]],columns=COLUMN_NAMES))
df_model

Accuracy: -1.703% (0.036%)

              Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0               NaN        NaN       NaN         NaN         NaN       NaN
0           xgboost   0.009686  0.020416    0.980880    0.866342  0.020023
0               SVR   0.788164  0.785959  -68.953819  -67.112909  0.678403
0  GradientBoosting   0.021243  0.022807    0.896041    0.862781  0.022739
0      RandomForest   0.006164  0.017128    0.985575    0.872132  0.017034

### Decision Tree Regressor

In [39]:
from sklearn import tree

In [40]:
dec = tree.DecisionTreeRegressor(max_depth=1)
dec.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=1)

In [41]:
y_pred_tr = dec.predict(X_train)
y_pred_dev = dec.predict(X_dev)
y_pred_ts = dec.predict(X_test)

y_score_tr=dec.score(X_train, y_train)
y_score_dev=dec.score(X_dev, y_dev)
y_score_ts=dec.score(X_test, y_test)

In [42]:
from sklearn.metrics import mean_absolute_error
MAE_train=mean_absolute_error(y_train, y_pred_tr)
MAE_dev=mean_absolute_error(y_dev, y_pred_dev)
MAE_test=mean_absolute_error(y_test, y_pred_ts)

In [43]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection

from sklearn.model_selection import train_test_split
from sklearn import model_selection


#seed for random state and splits - number of Kfolds
random_seed = 10
splits = 7

#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,\
                              random_state=random_seed,shuffle=True)

#results set equal to model with kfolds
results = model_selection.cross_val_score(dec, X_train,\
                                          y_train.values.ravel(),scoring='neg_mean_absolute_error',cv=kfold)

#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
results
# df_acc_cross = df_acc_cross.append(pd.DataFrame([['reg',(results.mean()*100.0),
#                                                   (results.std()*100.0),mean(absolute(results))]],
#                                                 columns=['Model_CV','Mean_ACU_CV','Std_ACU_CV','MAE_CV']))
# df_acc_cross
df_model =df_model.append(pd.DataFrame([['DecisionTree',MAE_train,MAE_dev,y_score_tr,y_score_dev,mean(absolute(results))]],columns=COLUMN_NAMES))
df_model

Accuracy: -6.188% (0.134%)

              Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0               NaN        NaN       NaN         NaN         NaN       NaN
0           xgboost   0.009686  0.020416    0.980880    0.866342  0.020023
0               SVR   0.788164  0.785959  -68.953819  -67.112909  0.678403
0  GradientBoosting   0.021243  0.022807    0.896041    0.862781  0.022739
0      RandomForest   0.006164  0.017128    0.985575    0.872132  0.017034
0      DecisionTree   0.061809  0.062415    0.538064    0.544218  0.061877

### knn

In [44]:
from sklearn import neighbors

In [45]:
n_neighbors=5
knn=neighbors.KNeighborsRegressor(n_neighbors,weights='uniform')
knn.fit(X_train,y_train)

KNeighborsRegressor()

In [46]:
y_pred_tr = knn.predict(X_train)
y_pred_dev = knn.predict(X_dev)
y_pred_ts = knn.predict(X_test)

y_score_tr=knn.score(X_train, y_train)
y_score_dev=knn.score(X_dev, y_dev)
y_score_ts=knn.score(X_test, y_test)

In [47]:
from sklearn.metrics import mean_absolute_error
MAE_train=mean_absolute_error(y_train, y_pred_tr)
MAE_dev=mean_absolute_error(y_dev, y_pred_dev)
MAE_test=mean_absolute_error(y_test, y_pred_ts)

In [48]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection


#seed for random state and splits - number of Kfolds
random_seed = 10
splits = 7

#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,\
                              random_state=random_seed,shuffle=True)

#results set equal to model with kfolds
results = model_selection.cross_val_score(knn, X_train,\
                                          y_train.values.ravel(),scoring='neg_mean_absolute_error',cv=kfold)

#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
results
# df_acc_cross = df_acc_cross.append(pd.DataFrame([['reg',(results.mean()*100.0),
#                                                   (results.std()*100.0),mean(absolute(results))]],
#                                                 columns=['Model_CV','Mean_ACU_CV','Std_ACU_CV','MAE_CV']))
# df_acc_cross
df_model =df_model.append(pd.DataFrame([['KNN',MAE_train,MAE_dev,y_score_tr,y_score_dev,mean(absolute(results))]],columns=COLUMN_NAMES))
df_model

Accuracy: -4.523% (0.052%)

              Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0               NaN        NaN       NaN         NaN         NaN       NaN
0           xgboost   0.009686  0.020416    0.980880    0.866342  0.020023
0               SVR   0.788164  0.785959  -68.953819  -67.112909  0.678403
0  GradientBoosting   0.021243  0.022807    0.896041    0.862781  0.022739
0      RandomForest   0.006164  0.017128    0.985575    0.872132  0.017034
0      DecisionTree   0.061809  0.062415    0.538064    0.544218  0.061877
0               KNN   0.036134  0.044785    0.811268    0.704872  0.045233

### BayesianRidge

In [49]:
from sklearn import linear_model
reg = linear_model.BayesianRidge()
reg.fit(X_train,y_train.values.ravel())

BayesianRidge()

In [50]:
y_pred_tr = reg.predict(X_train)
y_pred_dev = reg.predict(X_dev)
y_pred_ts = reg.predict(X_test)

y_score_tr=reg.score(X_train, y_train)
y_score_dev=reg.score(X_dev, y_dev)
y_score_ts=reg.score(X_test, y_test)

In [51]:
from sklearn.metrics import mean_absolute_error
MAE_train=mean_absolute_error(y_train, y_pred_tr)
MAE_dev=mean_absolute_error(y_dev, y_pred_dev)
MAE_test=mean_absolute_error(y_test, y_pred_ts)

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd


#seed for random state and splits - number of Kfolds
random_seed = 10
splits = 7

#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,\
                              random_state=random_seed,shuffle=True)

#results set equal to model with kfolds
results = model_selection.cross_val_score(reg, X_train,\
                                          y_train.values.ravel(),scoring='neg_mean_absolute_error',cv=kfold)

#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
results
# df_acc_cross = df_acc_cross.append(pd.DataFrame([['reg',(results.mean()*100.0),
#                                                   (results.std()*100.0),mean(absolute(results))]],
#                                                 columns=['Model_CV','Mean_ACU_CV','Std_ACU_CV','MAE_CV']))
# df_acc_cross
df_model =df_model.append(pd.DataFrame([['BayesianRidge',MAE_train,MAE_dev,y_score_tr,y_score_dev,mean(absolute(results))]],columns=COLUMN_NAMES))
df_model

Accuracy: -2.589% (0.049%)

              Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0               NaN        NaN       NaN         NaN         NaN       NaN
0           xgboost   0.009686  0.020416    0.980880    0.866342  0.020023
0               SVR   0.788164  0.785959  -68.953819  -67.112909  0.678403
0  GradientBoosting   0.021243  0.022807    0.896041    0.862781  0.022739
0      RandomForest   0.006164  0.017128    0.985575    0.872132  0.017034
0      DecisionTree   0.061809  0.062415    0.538064    0.544218  0.061877
0               KNN   0.036134  0.044785    0.811268    0.704872  0.045233
0     BayesianRidge   0.025819  0.025764    0.855004    0.843528  0.025891

In [53]:
df_model.sort_values(by='MAE_CV',ascending=True)

              Model  MAE_train  MAE_test  y_score_tr  y_score_ts    MAE_CV
0      RandomForest   0.006164  0.017128    0.985575    0.872132  0.017034
0           xgboost   0.009686  0.020416    0.980880    0.866342  0.020023
0  GradientBoosting   0.021243  0.022807    0.896041    0.862781  0.022739
0     BayesianRidge   0.025819  0.025764    0.855004    0.843528  0.025891
0               KNN   0.036134  0.044785    0.811268    0.704872  0.045233
0      DecisionTree   0.061809  0.062415    0.538064    0.544218  0.061877
0               SVR   0.788164  0.785959  -68.953819  -67.112909  0.678403
0               NaN        NaN       NaN         NaN         NaN       NaN

# Model Fine-tuning

In [54]:
from sklearn.metrics import mean_squared_log_error, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd
from xgboost import XGBRegressor

In [56]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mae = 100 * np.mean(errors)
    print('Model Performance')
    print('Mean Absolute Error: {:0.4f}'.format(np.mean(errors)))
    return mae

In [57]:
X_train_pre, X_test, y_train_pre, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [58]:
X_train, X_dev, y_train, y_dev = train_test_split(
    X_train_pre, y_train_pre, test_size=0.2, random_state=42)

In [59]:
base_model = RandomForestRegressor(n_estimators = 1000, random_state = 4)
base_model.fit(X_train, y_train)
base_accuracy = evaluate(base_model, X_dev, y_dev.values.ravel())

C:\Users\dalit\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Model Performance
Mean Absolute Error: 0.0171

In [65]:
# Create the parameter grid 
param_grid = {
    'bootstrap': [True],
    'max_depth': [30,40,50],
    'max_features': ['sqrt'],
    'min_samples_leaf': [1, 2],
    'min_samples_split': [1, 2],
    'n_estimators': [1500,2000]
    
}

# Create a based model
rf = RandomForestRegressor(random_state = 4)
# Instantiate the grid search model

grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 3, n_jobs = -1, verbose = 2)

In [66]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 24 candidates, totalling 72 fits

C:\Users\dalit\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.88076595 0.88084976        nan        nan
 0.87969349 0.879715          nan        nan 0.88078398 0.88086433
        nan        nan 0.87974595 0.87974971        nan        nan
 0.88078324 0.8808638         nan        nan 0.87974595 0.87974971]
  category=UserWarning
C:\Users\dalit\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=3, estimator=RandomForestRegressor(random_state=4), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [30, 40, 50],
                         'max_features': ['sqrt'], 'min_samples_leaf': [1, 2],
                         'min_samples_split': [1, 2],
                         'n_estimators': [1500, 2000]},
             verbose=2)

In [67]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 40,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 2000}

In [68]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_dev, y_dev.values.ravel())

Model Performance
Mean Absolute Error: 0.0215

In [69]:
print('Improvement of {:0.2f}%.'.format( 100 * (base_accuracy - grid_accuracy) / base_accuracy))

Improvement of -25.47%.

In [154]:
base_model = RandomForestRegressor(n_estimators = 1000, random_state = 4,bootstrap= True,
         max_depth=30,
         max_features='sqrt',
         min_samples_leaf= 2,
         min_samples_split= 2,
        )
base_model.fit(X_train, y_train)
base_accuracy = evaluate(base_model, X_dev, y_dev.values.ravel())

C:\Users\dalit\anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

Model Performance
Mean Absolute Error: 0.0216

In [70]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_test, y_test.values.ravel())

Model Performance
Mean Absolute Error: 0.0216